.settings{
    display:flex;
    justify-content: space-around; 
}

@media (max-width: 1100px) {
    .settings{
        display:flex;
        flex-direction: column;
        justify-content: space-around; 
    }
}
